<launch>
  <node pkg="nodelet" type="nodelet" name="perftest"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="PerftestProducer1" args="load ros_performance_test/PerftestProducer perftest" output="screen">
    <rosparam file="$(find ros_performance_test)/config/params_1.yaml" command="load"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="PerftestProducer2" args="load ros_performance_test/PerftestProducer perftest" output="screen">
    <rosparam file="$(find ros_performance_test)/config/params_2.yaml" command="load"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="PerftestProducer3" args="load ros_performance_test/PerftestProducer perftest" output="screen">
    <rosparam file="$(find ros_performance_test)/config/params_3.yaml" command="load"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="PerftestProducer4" args="load ros_performance_test/PerftestProducer perftest" output="screen">
    <rosparam file="$(find ros_performance_test)/config/params_4.yaml" command="load"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="PerftestProducer5" args="load ros_performance_test/PerftestProducer perftest" output="screen">
    <rosparam file="$(find ros_performance_test)/config/params_5.yaml" command="load"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="PerftestProducer6" args="load ros_performance_test/PerftestProducer perftest" output="screen">
    <rosparam file="$(find ros_performance_test)/config/params_6.yaml" command="load"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="PerftestConsumer" args="load ros_performance_test/PerftestConsumer perftest" output="screen">
    <rosparam file="$(find ros_performance_test)/config/params_consumer.yaml" command="load"/>
    <param name="log_file" type="str" value="/tmp/ros_perftest_nodelet.csv" />
  </node>
</launch>

